* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: myfont;
    src: url(font/myfont.ttf);
}

html, body {
    height: 100%;
    
}


/*** Index Page Styling START ***/

header {
    width: 100%;
    height: 200px;
    background-image: url(images/headerimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 81%;
}

.navbar ul {
    text-align: center;
}

.navbar li {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 150px;
    border-radius: 5px;
    color: rgb(190, 68, 184);
    border: 3px solid pink;
    background-color: rgba(255, 255, 255, 0.788);
}

.navbar li:hover {
    animation-fill-mode: forwards;
    cursor: pointer;
    background-color: pink;
    color: white;
    border: 3px solid white;
}

.indexmain {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    text-align: left;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffc0cb52;
    box-shadow: 5px 5px 8px rgb(136, 136, 136);
}

.indexmain h1 {
    font-family: myfont;
    font-size: 50px;
    font-weight: lighter;
    margin-left: 130px;
    text-align: center;
    margin-bottom: 10px;
}

.indexmain p {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 130px;
}

.indexmain .logo {
    position: absolute;
    margin-left: 950px;
    width: 250px;
    height: 250px;
    border-radius: 200px;
    z-index: 2;
}

.indexmain .profile {
    position: absolute;
    margin-top: -160px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    z-index: 2;
}

.indexmain2heading h2 {
    font-family: myfont;
    padding: 20px;
    font-weight: lighter;
    font-size: 80px;
    margin: auto;
    width: 30%;
    margin-top: 20px;
    text-shadow: 2px 2px 6px pink;
    text-align: center;
}

.indexmain2 {
    margin: auto;
    width: 90%;
    height: 1200px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
    background-attachment: fixed;
    border-radius: 100px;
    margin-bottom: 10px;
}

.indexmain2 img {
    width: 100%;
    border-radius: 30px;
    margin-top: 30px;
    padding: 10px;
    box-shadow: 5px 5px 8px rgb(136, 136, 136);
}

footer {
    text-align: center;
    width: 100%;
    height: 55px;
    background-color: rgb(233, 233, 233);
}

.fbimg {
    width: 60px;
    height: 60px;
    float: left;
    padding: 5px;
    margin-top: -50px;
}

.fbimg:hover {
    animation-name: menuspin;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.instaimg:hover {
    animation-name: menuspin;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.instaimg {
    width: 60px;
    height: 60px;
    float: left;
    padding: 5px;
    margin-top: -50px;
}

.footerinstaimg {
    width: 60px;
    height: 60px;
    margin-left: 200px;
    position: absolute;
    margin-top: -3px;
}

.footerfbimg {
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: -260px;
    margin-top: -3px;
}

.footerinstaimg:hover {
    animation-name: menuspin;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.footerfbimg:hover {
    animation-name: menuspin;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

/*** Index Style END ***/

/*** Product Page Style START ***/

.productintro {
    width: 60%;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    text-align: left;
    padding: 20px;
    background-color: rgba(255, 192, 203, 0);
}

.productintro h2 {
    font-family: myfont;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}

.productintro p {
    text-align: center;
}

.productmain1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 400px;
    column-gap: 20px;
    padding: 10px;
    margin-top: 10px;
}

.cupcakes h3 {
    text-align: center;
    font-family: myfont;
    font-size: 40px;
    font-weight: lighter;
    transform: rotateZ(345deg);
    animation-name: productrollcupcake;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.cupcakes img {
    width: 70%;
    height: 300px;
    box-shadow: 5px 5px 8px rgb(136, 136, 136);
    border-radius: 5px;
    transform: rotateZ(345deg);
    margin-left: 120px;
    animation-name: productrollcupcake;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.rizzies img {
    width: 70%;
    height: 300px;
    box-shadow: 5px 5px 8px rgb(136, 136, 136);
    transform: rotateZ(15deg);
    margin-left: 100px;
    margin-top: 10px;
    animation-name: productrollcookierizzie;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
    border-radius: 5px;
    
}

.rizzies h3 {
    text-align: center;
    font-family: myfont;
    font-size: 40px;
    font-weight: lighter;
    transform: rotateZ(15deg);
    animation-name: productrollcookierizzie;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
}


.cakes h3 {
    text-align: center;
    font-family: myfont;
    font-size: 40px;
    font-weight: lighter;
    transform: rotateZ(345deg);
    animation-name: productrollcupcake;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
}

.cakes img {
    width: 70%;
    height: 300px;
    box-shadow: 5px 5px 8px rgb(136, 136, 136);
    border-radius: 5px;
    transform: rotateZ(345deg);
    margin-left: 120px;
    animation-name: productrollcupcake;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
}

.cookies img {
    width: 70%;
    height: 300px;
    box-shadow: 5px 5px 8px rgb(136, 136, 136);
    margin-left: 100px;
    margin-top: 10px;
    animation-name: productrollcookierizzie;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    opacity: 0;
    border-radius: 5px;
}

.cookies h3 {
    text-align: center;
    font-family: myfont;
    font-size: 40px;
    font-weight: lighter;
    transform: rotateZ(15deg);
    animation-name: productrollcookierizzie;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    opacity: 0;
}

@keyframes productrollcookierizzie {
    0% {
        opacity: 0;
        transform: translateX(-510%) rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0) rotate(360deg) rotateZ(15deg);
    }
}

@keyframes productrollcupcake {
    0% {
        opacity: 0;
        transform: translateY(-510%) rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: translateY(0) rotate(360deg) rotateZ(345deg) ;
    }
}


/*** Contact Page START ***/

.contactmain {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 10px;
    width: 80%;
    height: 310px;
    background-color: #ffc0cb52;
    box-shadow: 5px 5px 8px rgb(136, 136, 136);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

@keyframes boomboom {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.phone img {
    width: 220px;
    height: 220px;
    border-radius: 40px;
    margin-left: 130px;
    animation-name: boomboom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.phonetext {
    text-align: center;
    margin-top: 5px;
    
}

.email img {
    width: 220px;
    height: 220px;
    border-radius: 5px;
    margin-left: 130px;
    animation-name: boomboom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.whatsapp img {
    width: 220px;
    height: 220px;
    border-radius: 5px;
    margin-left: 130px;
    animation-name: boomboom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.whatsapp img:hover {
    box-shadow: 0 0 10px black;
    border-radius: 40px;
}

/*** Media Queries ***/

/*** Between 685px and 1366px ***/

@media screen and (max-width: 1366px) {

    .indexmain {
        width: 95%;
        padding: 30px;
        height: auto;
    }

    .indexmain2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        height: auto;
    }

    .indexmain .profile {
        margin-left: -60px;
        width: 150px;
        height: 150px;
        margin-top: -120px;
    }

    .cupcakes h3 {
        font-size: 30px;
        margin-left: -100px;
    }
    
    .cupcakes img {
        width: 60%;
        height: 300px;
        margin-left: 40px;
        margin-top: 50px;
    }

    .rizzies h3 {
        font-size: 30px;
        margin-left: 60px;
    }
    
    .rizzies img {
        width: 60%;
        height: 300px;
        margin-left: 40px;
        margin-top: 5px;
    }

    .cakes h3 {
        font-size: 30px;
        margin-left: -100px;
        margin-top: 30px;
    }
    
    .cakes img {
        width: 60%;
        height: 260px;
        margin-left: 40px;
        margin-top: 30px;
    }

    .cookies h3 {
        font-size: 30px;
        margin-left: 60px;
        margin-top: 30px;
    }
    
    .cookies img {
        width: 60%;
        height: 300px;
        margin-left: 40px;
        margin-top: 0px;
    }

    .contactmain {
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
        height: auto;
        margin-top: 20px;
    }

    .phone img {
        margin-left: 75px;
    }

    .email img {
        margin-left: 75px;
    }

    .whatsapp img {
        margin-left: 75px;
    }  

    footer {
        width: 100%;
        height: 110px;
        margin-top: 350px;
    }

    .productmain1 {
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
        height: 500px;
    }

}

/*** Between 685px and 1366px ***/

/*** Between 454px and 684px ***/

@media screen and (max-width: 684px) {

    header {
        width: 100%;
        height: 200px;
    }

    .fbimg {
        display: none;
    }

    .instaimg {
        display: none;
    }

    .indexmain {
        width: 95%;
        padding: 30px;
        height: auto;
    }

    .indexmain .profile {
        margin-left: -40px;
        width: 150px;
        height: 150px;
        margin-top: -200px;
    }

    .indexmain p {
        text-align: center;
        margin-left: 10px;
    }

    .indexmain2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        height: auto;
    }

    .indexmain2heading h2 {
        padding: 0;
        text-align: center;
        font-size: 60px;
    }

    footer {
        width: 100%;
        height: 110px;
        margin-top: 50px;
    }

    .footerinstaimg {
        width: 60px;
        height: 60px;
        position: absolute;
        margin-left: 60px;
        margin-top: 35px;
        padding: 5px;
    }
    
    .footerfbimg {
        width: 60px;
        height: 60px;
        position: absolute;
        margin-left: -100px;
        margin-top: 35px;
        padding: 5px;
    }

    .productmain1 {
        grid-template-columns: 1fr 1fr;
        margin-top: 150px;
        height: 400px;
    }

    .cupcakes h3 {
        font-size: 20px;
        margin-left: -100px;
    }
    
    .cupcakes img {
        width: 50%;
        height: 150px;
        margin-left: 40px;
        margin-top: 10px;
    }

    .rizzies h3 {
        font-size: 20px;
        margin-left: 60px;
    }
    
    .rizzies img {
        width: 50%;
        height: 150px;
        margin-left: 40px;
        margin-top: 10px;
    }

    .cakes h3 {
        font-size: 20px;
        margin-left: -100px;
        margin-top: 30px;
    }
    
    .cakes img {
        width: 50%;
        height: 150px;
        margin-left: 40px;
        margin-top: 10px;
    }

    .cookies h3 {
        font-size: 20px;
        margin-left: 60px;
        margin-top: 30px;
    }
    
    .cookies img {
        width: 50%;
        height: 150px;
        margin-left: 40px;
        margin-top: 10px;
    }

    .contactmain {
        grid-template-columns: 1fr;
        width: 90%;
        height: 900px;
        margin-top: 60px;
    }

    .phone img {
        margin-left: 180px;
    }

    .email img {
        margin-left: 180px;
    }

    .whatsapp img {
        margin-left: 180px;
    }  
}

/*** Between 454px and 684px ***/

/*** Between 0 and 454px ***/

@media screen and (max-width: 454px) {

    .fbimg {
        display: none;
    }

    .instaimg {
        display: none;
    }

    .indexmain {
        width: 90%;
        padding: 30px;
        height: 800px;
    }

    .indexmain .profile {
        margin-left: -50px;
        width: 150px;
        height: 150px;
        margin-top: -335px;
    }

    .indexmain2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        height: auto;
    }

    footer {
        width: 100%;
        height: 110px;
        margin-top: 50px;
    }

    .footerinstaimg {
        width: 60px;
        height: 60px;
        position: absolute;
        margin-left: 60px;
        margin-top: 35px;
        padding: 5px;
    }
    
    .footerfbimg {
        width: 60px;
        height: 60px;
        position: absolute;
        margin-left: -100px;
        margin-top: 35px;
        padding: 5px;
    }

    .productmain1 {
        grid-template-columns: 1fr 1fr;
        margin-top: 300px;
        height: 400px;
    }

    .cupcakes h3 {
        font-size: 20px;
        margin-left: -100px;
    }
    
    .cupcakes img {
        width: 50%;
        height: 150px;
        margin-left: 40px;
        margin-top: 10px;
    }

    .rizzies h3 {
        font-size: 20px;
        margin-left: 60px;
    }
    
    .rizzies img {
        width: 50%;
        height: 150px;
        margin-left: 40px;
        margin-top: 10px;
    }

    .cakes h3 {
        font-size: 20px;
        margin-left: -100px;
        margin-top: 30px;
    }
    
    .cakes img {
        width: 50%;
        height: 150px;
        margin-left: 40px;
        margin-top: 10px;
    }

    .cookies h3 {
        font-size: 20px;
        margin-left: 60px;
        margin-top: 30px;
    }
    
    .cookies img {
        width: 50%;
        height: 150px;
        margin-left: 40px;
        margin-top: 10px;
    }

    .contactmain {
        grid-template-columns: 1fr;
        width: 90%;
        height: 900px;
        margin-top: 120px;
    }

    .phone img {
        margin-left: 80px;
    }

    .email img {
        margin-left: 80px;
    }

    .whatsapp img {
        margin-left: 80px;
    }  
}

/*** Between 0 and 454px ***/
